@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import "tailwindcss/components";

@import "./main.css";
@import "./components.css";

html,
body {
     padding: 0;
     margin: 0;
     font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
          Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
     boxsizing: border-box;
     fontsize: 16px;
     minheight: 100vh;
}

a {
     color: inherit;
     text-decoration: none;
}

* {
     box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
     html {
          color-scheme: dark;
     }
     body {
          color: white;
          background: black;
     }
}
